:root{
    --menu-min-width: 350px;
    --menu-width: 35vw;
    --menu-max-width: 800px; 
    --gap:10px;

    --content-min-width: 150px;
    --content-width: 10vw;
    --content-max-width: 250px;

    --main-min-width: 350px;
    --main-width: 70vw;
    --main-max-width: 800px;

    --gap: 10px;
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    padding: var(--gap);
}

nav{
    background-color: blue;
    width: var(--menu-width);
    min-width: var(--menu-min-width);
    max-width: var(--menu-max-width);
}

main{
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
    margin: var(--gap);
    padding: var(--gap);
    background-color: rgb(205, 203, 199);
    min-width: var(--main-min-width);
    width: var(--main-width);
    max-width: var(--main-max-width);
}

section{
    background-color: gray;
    padding: var(--gap);

}

aside{
    background-color: orangered;
    color: whitesmoke;
    padding: var(--gap);
}

footer{
    background-color: fuchsia;
    color: whitesmoke;
    padding: var(--gap);

}

ul{
    list-style: none;
    color: white;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
    transform: scale(-5%, -5%);
    filter: drop-shadow(
        2px 2px 6px whitesmoke
    );
    transition: all ease-in 300ms;
    
}

.border{
    border: 2px solid white;
    border-radius: 10px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.center-flex{
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*Mobile First*/
@media all {

    .menu{

        justify-content: space-evenly;
        width: var(--menu-width);
        min-width: var(--menu-min-width);
        max-width: var(--menu-max-width);
        margin: var(--gap);
    }

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-items: flex-start;
    }

    .content{
        margin: var(--gap);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: large;
        font-weight: 900;
        min-width: var(--content-min-width);
        width: var(--content-width);
        max-width: var(--content-max-width);

        min-height: var(--content-min-width);
        height: var(--content-width);
        max-height: var(--content-max-width);

        background-color: whitesmoke;
        border: 3px solid black;
        border-radius: 1vh;

        filter: drop-shadow(
            2px 2px 6px whitesmoke
        );

    }

}
/*Tablet*/
@media screen  {
    
}
/*Desktop*/
@media screen {
    
}