<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>FlexBox</title>
</head>
<body>
    <div class="flex-column">
    <header class="flex-row center-flex" >
        <nav class="border">
            <ul class="flex-row menu">
                <li>HOME</li>
                <li>LOGIN</li>
                <li>SIGNIN</li>
                <li>ABOUT US</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="flex-column">
            <header class="flex-row center-flex">
                <h1>TITULO</h1>
            </header>
            <section class="container">
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                <div class="content">
                    <p>CARD</p>
                </div>
                
            </section>
            <footer>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus magnam quasi a debitis qui, autem error cumque quae corrupti excepturi, earum nam sed, odit assumenda minima aperiam temporibus veritatis dignissimos?</p>
            </footer>
        </div>
        <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt nobis provident animi, suscipit velit tempora illum est amet beatae voluptatibus, ipsum inventore quaerat quo architecto, modi pariatur quasi harum?</p>
        </aside>
    </main>
    <footer>
        <p>Site criado por ...</p>
    </footer>
    </div>
</body>
</html>